*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background-color: #FFFDF6;
}
/*.svg-container{*/
/*  padding: 0 1rem 0 1rem;*/
/*}*/

/*.svg-container svg {*/
/*  max-width: 100%*/
/*}*/